.cartEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.cartEmpty__icon {
  color: rgb(107, 107, 107);
  width: 100%;
  height: 100px;
  /* clip-path: circle(50%); */
}

.cartEmpty__text {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: rgb(107, 107, 107);
  margin: 10px 0 0;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 140px 20px 100px;
  background-color: white;
}

.cart__container {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.cart__count-text {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.cart__subtotal {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.cart__subtotal-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__subtotal-text {
  color: black;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.cart__subtotal-price {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}

.cart__pay-button {
  margin-bottom: 10px;
  color: white;
  font-size: 12px;
  width: 100%;
  background-color: rgb(3, 119, 228);
  border-radius: 3px;
  border-style: none;
  padding: 12px 30px;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.cart__pay-button:hover {
  background-color: rgb(41, 151, 255);
}

.cart__policy {
  margin: 30px 0;
}

.cart__policy-cont {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
}

.cart__policy-title {
  font-size: 12px;
  font-weight: 900;
  color: black;
  margin: 0;
}

.cart__policy-text {
  font-size: 12px;
  font-weight: 400;
  color: rgb(39, 39, 39);
  margin: 0;
}

.cart__policy-link {
  font-size: 12px;
  font-weight: 400;
  color: rgb(39, 39, 39);
  margin: 0;
  cursor: pointer;
  transition: all 200ms ease-out;
  width: fit-content;
}

.cart__policy-link:hover {
  color: black;
}

@media screen and (max-width: 1020px) {
  .cart__subtotal {
    width: 280px;
  }

  .cart__container {
    margin: 0 25px 0 0;
  }
}

@media screen and (max-width: 752px) {
  .cart {
    flex-direction: column;
  }

  .cart__container {
    margin: 0;
  }

  .cart__subtotal {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .cartEmpty__icon {
    width: 82px;
  }

  .cartEmpty__text {
    font-size: 20px;
  }
}
