.search {
  margin-left: 30px;
  position: relative;
}

.search__input {
  background: rgb(59, 59, 59);
  border-radius: 32px;
  border-style: none;
  height: 23px;
  max-width: 150px;
  color: white;
  font-size: 12px;
  padding-left: 29px;
}

.search__icon {
  width: 20px;
  color: white;
  position: absolute;
  top: 4%;
  left: 3%;
}
